*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto';
    height: 100vh;
    background-color: #211A1D;
    display: grid;
    grid-template: 100px 15fr / 1fr;
}

header {
    background-color: #3772FF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 24px 0px rgb(30, 30, 30);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-collapse: collapse;
}

header nav button {
    background-color: #211A1D;
    border: 5px solid #E6E8E6;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    color: white;
    font-size: 2em;
}

header nav button:active {
    background-color: #000000 ;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
}

.container {
    border: 5px solid #E6E8E6;
    background-color: #3772FF;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 8px 24px 0px rgb(30, 30, 30);
}

img {
    width: 50%;
}

.container p {
    font-size: 2em;
}
